.btn-group.btn-group-primary
  a.btn.btn-lg.btn-primary(href="https://github.com/TiForward/discuss")
    div Sign the manifesto
    div: small with a star on GitHub
  a.btn.btn-lg.btn-primary(href="https://github.com/TiForward/discuss/issues")
    div Participate now
    div: small to active discussions
.btn-group
  a.btn.btn-lg(href="https://twitter.com/TiFwd")
    i.fa.fa-twitter &nbsp;
    span TiFwd
  a.btn.btn-lg(href="https://github.com/TiForward")
    i.fa.fa-github-alt &nbsp;
    span TiForward
