doctype html
html
  head
    title TiForward.org
    link(rel="stylesheet",href="build/main.css")
    link(rel="stylesheet",href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
  body
    .masthead.first
      img(width="200",src="images/logo.png")
      h1 TiForward
      p.lead.
        <strong>By</strong> the Titanium™ community <br>
        <strong>For</strong> the Titanium™ community
      .btn-group.btn-group-primary
        a.btn.btn-lg.btn-primary
          div Sign the manifesto
          div: small with a star on GitHub
        a.btn.btn-lg.btn-primary
          div Participate now
          div: small to active discussions
      .btn-group
        a.btn.btn-lg
          i.fa.fa-twitter &nbsp;
          span TiFwd
        a.btn.btn-lg
          i.fa.fa-github-alt &nbsp;
          span TiForward

    .masthead
      h2 Manifesto
      p.lead Titanium™ has been brought to us<br>by an ever lasting effort from Appcelerator®.
      h3 We want
      p.lead to take part of that burden
      h3 We need
      p.lead a more involved community,<br>more easily able to contribute
      h3 We will
      p.lead carve the future and<br>explore opportunities

    .masthead
      .btn-group.btn-group-primary
        a.btn.btn-lg.btn-primary
          div Sign the manifesto
          div: small with a star on GitHub
        a.btn.btn-lg.btn-primary
          div Participate now
          div: small to active discussions
      .btn-group
        a.btn.btn-lg
          i.fa.fa-twitter &nbsp;
          span TiFwd
        a.btn.btn-lg
          i.fa.fa-github-alt &nbsp;
          span TiForward

    .masthead.last
      p ❮ Be humble ❯
      p CC0

    script(src="build/bundle.js")
