extends templates/layout

block navigation
  +navigation('Manifesto')

block body
  .section.first
    img.logo(alt="The Ti.Forward logo",width="200",src="images/logo.png")
    h1 Ti.Forward
    p.lead.
      <strong>By</strong> the Titanium™ community <br>
      <strong>For</strong> the Titanium™ community
    p
      a(href="https://github.com/TiForward/discuss/stargazers")
        img.stargazers(alt="Signatures",src="https://img.shields.io/github/stars/TiForward/discuss.svg?style=flat-square&label=%E2%9C%8D%20Signatures")

  .section
    h2 Manifesto
    p.lead.
      Titanium™ has been brought to us by the hard working team  at
      Appcelerator®.

    h3 We want
    p.lead.
      To assist with the burden of the ongoing development and support in
      order to help push the platform forward. Appcelerator® has given us a
      lot, its time to help give back!

    h3 We need
    p.lead.
      To help grow and educate the Ti community on how the core of Titanium™
      works in order to strengthen the community!

    h3 We will
    p.lead.
      Help take Titanium™ and it's community to the next level.
